# Dependencies
node_modules/

# Build outputs
.next/
dist/
.turbo/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads (dev only)
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/logoct.png
